@model IEnumerable<Offer>
@{
}

<div class="container">



    <div class="text-capitalize text-center pb-2">
        <h1>Menu administrateur</h1>
    </div>
    <div class="text-center pb-2">
        <h2>Offres disponibles</h2>
    </div>


    <a asp-action="AddOffer" asp-controller="AdminOffer" class="btn btn-primary">Ajouter une offre</a>

    @if (Model?.Count() > 0)
    {
        <table class="table table-striped my-2">
            <tr>
                <th>Type d'offre</th>
                <th>Logo</th>
                <th>Sport</th>
                <th>Code offre</th>
                <th>Description</th>
                <th>Date</th>
                <th>Prix</th>
                <th>Action</th>
            </tr>

            @foreach (var offer in Model)
            {
                <tr>
                    <td>@offer.OfferType.OfferType_Name</td>
                    <td>
                        @if (string.IsNullOrWhiteSpace(offer.Offer_ImagePath))
                        {
                            <img src="/Images/NoImage.png" style="width:80px;height:80px" alt="offer ImagePath" />
                        }
                        else
                        {
                            <img src="/images/@offer.Offer_ImagePath" style="width:50px;height:50px" alt="offer ImagePath" />
                        }
                    </td>

                    <td>@offer.Offer_Sport</td>
                    <td>@offer.Offer_Code</td>
                    <td>@offer.Offer_Description</td>
                    <td>@offer.Offer_EventDate</td>
                    <td>@offer.Offer_UnitPrice</td>
                    <td>
                        <a asp-action="UpdateOffer" asp-controller="AdminOffer" asp-route-id="@offer.OfferId" class="btn btn-success">Editer</a>
                      </td>
                    <td>
                          <a asp-action="DeleteOffer" asp-controller="AdminOffer" asp-route-id="@offer.OfferId" class="btn btn-danger" onclick="return window.confirm('Souhaitez vous supprimer cette offre ?')">Del</a>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <h3>No records</h3>
    }

</div>