@model Paris2024.Models.Offer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Offer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Offer_Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Offer_Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Offer_Sport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Offer_Sport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Offer_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Offer_Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Offer_ImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Offer_ImagePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Offer_UnitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Offer_UnitPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfferType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfferType.OfferType_Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OfferId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
