@model OfferVM
@{

}

<div class="text-capitalize text-center pb-2">
    <h1>Billets en vente</h1>
</div>
<div class="pb-2">
    <h4>Filtres billets</h4>
</div>


<div class="container-fluid">

<div class="my-2 container-sm">
    <form asp-action="Index" class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-12">
            <label class="visually-hidden" for="offerTypeId">Type d'offre'</label>
            <select class="form-select" id="offerTypeId" name="offerTypeId">
                <option selected>All</option>
                @foreach (var offerType in Model.OfferTypes)
                {
                    <option selected="@(offerType.OfferTypeId == Model.OfferTypeId)" value="@offerType.OfferTypeId">@offerType.OfferType_Name</option>
                }
            </select>
         @*    <select class="form-select" id="offerSport" name="offerSport">
                <option selected>All</option>
                @foreach (var offer in Model.Offers.Select(o => o.Offer_Sport).Distinct())
                {
                    <option value="@offer">@offer</option>
                }
            </select> *@
        </div>

        <div class="col-12">
            <label class="visually-hidden" for="searchString">Recherche par sport</label>
            <div class="input-group">
                <div class="input-group-text"></div>
                <input type="text" class="form-control" value="@Model.SearchString" id="searchString" name="searchString" placeholder="Recherche par sport">
            </div>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-outline-dark">Recherche</button>
            <a href="/Offer/Index" class="btn btn-dark">Init</a>
        </div>
    </form>
</div>


    <table class="table table-striped my-2">
        <tr>
       @*     <th>Type d'offre</th>  *@
            <th>Logo</th>
            <th>Date</th>
            <th>Sport</th>
            <th>Code offre</th>
        <th>Prix</th>
          @*   <th>Description</th> *@

            <th>Panier</th>
            <th>Détails</th>
        </tr>

        @foreach (var offer in Model.Offers)
            {
                <tr>
              @*       <td>@offer.OfferType.OfferType_Name</td>  *@
                    <td>
                        @if (string.IsNullOrWhiteSpace(offer.Offer_ImagePath))
                        {
                            <img src="/Images/NoImage.png" style="width:80px;height:80px" alt="offer ImagePath" />
                        }
                        else
                        {
                            <img src="/images/@offer.Offer_ImagePath" style="width:50px;height:50px" alt="offer ImagePath" />
                        }
                    </td>
                    <td>@offer.Offer_EventDate</td>
                    <td>@offer.Offer_Sport</td>
                    <td>@offer.Offer_Code</td>
                    <td>@offer.Offer_UnitPrice</td>
                   @*  <td>@offer.Offer_Description</td> *@
                    <td><button type="button" onclick="add(@offer.OfferId)" class="btn btn-outline-dark justify-content-center mx-auto">Ajouter</button> </td>
                    <td><a asp-action="Details" asp-controller="Offer" asp-route-OfferId="@offer.OfferId" class="btn btn-outline-primary justify-content-center mx-auto">Détail</a></td>
                </tr>
            }
    </table>

</div>
@section Scripts {
    <script>

        async function add(offerId) {
            try {
                var response = await fetch(`/Cart/AddItem?offerId=${offerId}`);
                if (response.status == 200) {
                    var result = await response.json();
                    var cartCountEl = document.getElementById("cartCount");
                    cartCountEl.innerHTML = result;
                }
            }
            catch (err) {
                console.log(err);
            }
        }
    </script>
}


